/* Começo do Geral */
body {
    font-family: sans-serif;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-color: #272727;
	padding: 0px;
	margin: 0px;
}

#bg_transparent {
    background: url('../images/background.gif');
    background-size: 100%;
    z-index: -9999;
}

@font-face {
    font-family: 'Fastup';
    src: url('../font/Fastup-Regular.ttf');
}

@font-face {
    font-family: 'Dash';
    src: url('../font/Dash-Horizon-Demo.otf');
}

@font-face {
    font-family: 'Noticia';
    src: url('../font/Noticia-Bold.otf');
}

@font-face {
    font-family: 'Nasalization';
    src: url('../font/nasalization-rg.otf');
}

#Menu_title {
    font-family: 'Fastup', sans-serif;
    color: white;
    font-size: 25pt;
    margin: -5px -55px auto;
}

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #a80000 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
}

figure{
	margin: 0px;
}

.linha {
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: inline-block;
	position: relative;
	margin-top: 0px;
	text-align: center;
}

.esquerda{
    height: 40px;
    width: 120px;
    float: left;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s;
    margin: 5px 50px 0px 5px;
}

.direita{
    position: relative;
    display: block;
    margin: 10px 40px 10px 10px;
    float: right;
    text-align: right;
    width: 70%;
}

#title1 {
    color: white;
    font-family: 'Nasalization', sans-serif;
    font-size: 30pt;
    text-align: center;
    margin-top: 190px;
}

#text1 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 10pt;
    opacity: 80%;

}

#download_button {
    margin: 10px 50px 50px 525px;
    height: 60px;
    width: 260px;
    border: 1px solid #fff;
    font-weight: 500;
    font-size: 22px;
    border-radius: 1000px;
    background-color: transparent;
    color: #fff;
    outline: none;
    transition: all .2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#download_button:hover {
    color: #ff0000 !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-decoration: none;
    border: 1px solid #ff0000;
}
/* Fim do Geral */

/* Começo do menu */

.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Fastup', sans-serif;
    font-size: 15pt;
    padding: 10px 0px;
    top: 0;
    right: 0;
}

.menu ul{
    list-style: none;
    margin: 0px;
    position: absolute;
    padding: 50px 5px 5px 5px;
}

.menu li{
    display: inline-block;
    padding: 0px 25px 25px 25px;
}

/* começo do sub-menu  */

.menu ul ul {
    display: none;
    position: relative;
}

.menu_submenu {
    display: none;
    margin: 0;
    background-color: #272727;
    top: 45px;
    padding: 0;
    left: 493px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid white;
}

.menu_submenu li {
    display: block;
    font-family: 'Dash',sans-serif;
    font-size: 14pt;
    padding: 20px;
    padding-top: 0;
    margin: 0px 0px 20px -5px;
}

.menu li:hover > .menu_submenu {
    display: block;
}
/* fim do sub-menu  */
/* fim do menu  */